name: Entrega Continua

on:
  workflow_call:

jobs:
  EC2:
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v3
    #clona o repositório onde o fluxo de trabalho (workflow) está sendo executado para dentro do ambiente de execução (runner)
    - name: Download a Build Artifact
    #  uses: actions/download-artifact@v3.0.0
    #  uses: actions/download-artifact@v6.0.0 removido agora!
      uses: actions/download-artifact@v5
      with:
    # Artifact name
        name: programa
    # inserido o nome do artefato no path
        path: . # colocado agora+1

    - name: Deploy to Server
      uses: easingthemes/ssh-deploy@main
      with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: /home/${{ secrets.REMOTE_USER }}
          EXCLUDE: "postgres-data"

    - name: Execute remote SSH commands using password
      uses: appleboy/ssh-action@v1
      with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            export HOST=${{ secrets.DBHOST }}
            export USER=${{ secrets.DBUSER }}
            export PASSWORD=${{ secrets.DBPASSWORD }}
            export DBNAME=${{ secrets.DBNAME }}
            export DBPORT=${{ secrets.DBPORT }}
            export PORT=8000
            
            chmod +x main
            nohup ./main > nohup.out 2> nohup.err < /dev/null &
